{% extends 'shared/layout.html' %}


{% block aditional_css %}
     <link rel="stylesheet" href="{{ url_for('static', path='/css/account.css') }}">
{% endblock %}

{% block content %}
     <div class="form-container">
            <form action="" method="POST" class="account-form">
                <h1>Login to PyPI</h1>

                <input name="email" type="text" placeholder=" Your email address" class="form-control"
                       value="{{ email }}">
                <input name="password" type="password" placeholder=" Password" class="form-control"
                       value="{{ password }}">
                <button type="submit" class="btn btn-danger">Log In</button>
                <div style="clear: both;"></div>

                {% if error %}
                    <div class="error-msg"> {{ error }} </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
