{% extends 'shared/layout.html' %}

{% block aditional_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/account.css') }}">
{% endblock %}

{% block content %}
      <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Register at PyPI</h1>

            <input name="name" type="text" placeholder=" Your name" class="form-control" value="{{ name }}" required>
            <input name="email" type="email" placeholder=" Your email address" class="form-control" value="{{ email }}" required>
            <input name="password" minlength="5" type="password" placeholder=" Password" class="form-control" value="{{ password }}" required>
            <input name="age" type="number" min="18" max="120" placeholder=" Your age in years" style="display: block; width: 100%" required>
            <button type="submit" class="btn btn-danger">Register</button>
            <div style="clear: both;"></div>

             {% if error %}
                {% include "shared/error_message.html" %}
            {% endif %}
        </form>
    </div>
{% endblock %}